<script type="text/javascript">
  var current_page="tour";
</script>
<div class="clear"></div>
<h1><%= @room.title %></h1>
<div id="content">
  <div id="tour_description">
    <%= @room.description %>
  </div>
</div>