<script type="text/javascript">
  var current_page="schedule";
</script>
<table class="schedule">
  <tr>
    <td></td>
    <td colspan="2">Понедельник</td>
    <td colspan="2">Вторник</td>
    <td colspan="2">Среда</td>
    <td colspan="2">Четверг</td>
    <td colspan="2">Пятница</td>
    <td colspan="2">Суббота</td>
    <td colspan="2">Воскресенье</td>
  </tr>

  <!-- начало блока -->
  <tr>
    <td rowspan="3">1</td>
    <td>08:00</td>
    <td></td>
    <td>09:00</td>
    <td></td>
    <td>08:00</td>
    <td></td>
    <td>10:00</td>
    <td></td>
    <td>09:00</td>
    <td></td>
    <td>10:00</td>
    <td></td>
    <td>11:00</td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="yoga">YOGA</td>
    <td colspan="2" class="item" rel="pilates">PILATES</td>
    <td colspan="2" class="item" rel="yoga">YOGA</td>
    <td colspan="2" class="item" rel="sculpt">BODY SCULPT</td>
    <td colspan="2" class="item" rel="yoga">YOGA</td>
    <td colspan="2" class="item" rel="pilates">PILATES</td>
    <td colspan="2" class="item" rel="interval_class">INTERVAL CLASS</td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
  </tr>
  <!-- конец блока -->

  <!-- начало блока -->
  <tr>
    <td rowspan="3">2</td>
    <td>10:00</td>
    <td></td>
    <td>10:00</td>
    <td></td>
    <td>10:00</td>
    <td></td>
    <td>11:00</td>
    <td></td>
    <td>10:00</td>
    <td></td>
    <td>11:00</td>
    <td></td>
    <td>12:00</td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="aerobic">BASIC CLASS</td>
    <td colspan="2" class="item" rel="bеlly_dance">BELLY DANCE</td>
    <td colspan="2" class="item" rel="interval_class">INTERVAL CLASS</td>
    <td colspan="2" class="item" rel="">CYCLE INTRO</td>
    <td colspan="2" class="item" rel="step">STEP CLASSIC</td>
    <td colspan="2" class="item" rel="strip_dance">STRIP PLASTIC</td>
    <td colspan="2" class="item" rel="">CYCLE INTRO</td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №3</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №3</td>
  </tr>
  <!-- конец блока -->

  <!-- начало блока -->
  <tr>
    <td rowspan="3">3</td>
    <td>11:00</td>
    <td></td>
    <td>11:00</td>
    <td></td>
    <td>11:00</td>
    <td></td>
    <td>11:00</td>
    <td></td>
    <td>11:00</td>
    <td></td>
    <td>12:00</td>
    <td></td>
    <td>13:00</td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="sculpt">BODY SCULPT</td>
    <td colspan="2" class="item" rel="">CYCLE INTRO</td>
    <td colspan="2" class="item" rel="latino">LATINO DANCE</td>
    <td colspan="2" class="item" rel="pilates">PILATES</td>
    <td colspan="2" class="item" rel="rnb">R & B</td>
    <td colspan="2" class="item" rel="abl">ABL</td>
    <td colspan="2" class="item" rel="">HIP-HOP STYLE</td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №3</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
  </tr>
  <!-- конец блока -->

  <!-- начало блока -->
  <tr>
    <td rowspan="3">4</td>
    <td>12:00</td>
    <td></td>
    <td>12:00</td>
    <td></td>
    <td>12:00</td>
    <td></td>
    <td>12:00</td>
    <td></td>
    <td>12:00</td>
    <td></td>
    <td>13:00</td>
    <td></td>
    <td>13:00</td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="rnb">R & B</td>
    <td colspan="2" class="item" rel="abl">ABL</td>
    <td colspan="2" class="item" rel="functional">FUNCTIONAL TRAINING</td>
    <td colspan="2" class="item" rel="go_go">GO-GO</td>
    <td colspan="2" class="item" rel="upper_body">UPPER BODY</td>
    <td colspan="2" class="item" rel="">STRETCHING</td>
    <td colspan="2" class="item" rel="">STRETCHING</td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №2</td>
    <td>55 мин.</td>
    <td>зал №2</td>
  </tr>
  <!-- конец блока -->

  <!-- начало блока -->
  <tr>
    <td rowspan="3">5</td>
    <td>14:00</td>
    <td></td>
    <td>12:00</td>
    <td></td>
    <td>17:00</td>
    <td></td>
    <td>14:00</td>
    <td></td>
    <td>17:00</td>
    <td></td>
    <td>13:00</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="mama_mix">MAMA MIX</td>
    <td colspan="2" class="item" rel="">STRETCHING</td>
    <td colspan="2" class="item" rel="interval_class">INTERVAL CLASS</td>
    <td colspan="2" class="item" rel="mama_mix">MAMA MIX</td>
    <td colspan="2" class="item" rel="abl">ABL</td>
    <td colspan="2" class="item" rel="">CLASS CARDIO</td>
    <td colspan="2" class="item"></td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td></td>
    <td></td>
  </tr>
  <!-- конец блока -->

  <!-- начало блока -->
  <tr>
    <td rowspan="3">6</td>
    <td>17:00</td>
    <td></td>
    <td>17:00</td>
    <td></td>
    <td>18:00</td>
    <td></td>
    <td>17:00</td>
    <td></td>
    <td class="pl">18:00</td>
    <td class="pl"></td>
    <td>14:00</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="dance_mix">DANCE MIX</td>
    <td colspan="2" class="item" rel="functional">FUNCTIONAL TRAINING</td>
    <td colspan="2" class="item" rel="">CYCLE TRACK</td>
    <td colspan="2" class="item" rel="aerobic">BASIC CLASS</td>
    <td colspan="2" class="item pl" rel="">CYCLE</td>
    <td colspan="2" class="item" rel="functional">FUNCTIONAL TRAINING</td>
    <td colspan="2" class="item"></td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №3</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td class="pl">55 мин.</td>
    <td class="pl">зал №3</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td></td>
    <td></td>
  </tr>
  <!-- конец блока -->

  <!-- начало блока -->
  <tr>
    <td rowspan="3">7</td>
    <td>18:00</td>
    <td></td>
    <td>18:00</td>
    <td></td>
    <td>18:00</td>
    <td></td>
    <td>18:00</td>
    <td></td>
    <td>18:00</td>
    <td></td>
    <td>15:00</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="low_body">ABS / LOW BODY</td>
    <td colspan="2" class="item" rel="dance_mix">DANCE MIX</td>
    <td colspan="2" class="item" rel="strip_dance">STRIP PLASTIC</td>
    <td colspan="2" class="item" rel="low_body">LOW BODY</td>
    <td colspan="2" class="item" rel="bеlly_dance">BELLY DANCE</td>
    <td colspan="2" class="item" rel="go_go">GO-GO</td>
    <td colspan="2" class="item"></td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td></td>
    <td></td>
  </tr>
  <!-- конец блока -->

  <!-- начало блока -->
  <tr>
    <td rowspan="3">8</td>
    <td>19:00</td>
    <td></td>
    <td>19:00</td>
    <td></td>
    <td>19:00</td>
    <td></td>
    <td>19:00</td>
    <td></td>
    <td>19:00</td>
    <td></td>
    <td class="pl">17:00</td>
    <td class="pl"></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="">CYCLE INTRO</td>
    <td colspan="2" class="item" rel="choreography">STEP CHOREOGRAPHY</td>
    <td colspan="2" class="item" rel="sculpt">BODY SCULPT</td>
    <td colspan="2" class="item" rel="dance_mix">DANCE MIX</td>
    <td colspan="2" class="item" rel="aerobic">BASIC CLASS</td>
    <td colspan="2" class="item pl">ПАРНЫЕ ТАНЦЫ</td>
    <td colspan="2" class="item"></td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td class="pl">55 мин.</td>
    <td class="pl">зал №1</td>
    <td></td>
    <td></td>
  </tr>
  <!-- конец блока -->

  <!-- начало блока -->
  <tr>
    <td rowspan="3">9</td>
    <td>19:00</td>
    <td></td>
    <td>19:00</td>
    <td></td>
    <td>19:00</td>
    <td></td>
    <td>20:00</td>
    <td></td>
    <td>20:00</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="latino">LATINO DANCE</td>
    <td colspan="2" class="item" rel="yoga">YOGA</td>
    <td colspan="2" class="item" rel="pilates">PILATES</td>
    <td colspan="2" class="item" rel="upper_body">UPPER BODY</td>
    <td colspan="2" class="item" rel="sculpt">BODY SCULPT</td>
    <td colspan="2" class="item"></td>
    <td colspan="2" class="item"></td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №2</td>
    <td>55 мин.</td>
    <td>зал №2</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <!-- конец блока -->

  <!-- начало блока -->
  <tr>
    <td rowspan="3">10</td>
    <td>20:00</td>
    <td></td>
    <td>20:00</td>
    <td></td>
    <td>20:00</td>
    <td></td>
    <td>20:00</td>
    <td></td>
    <td>20:00</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="interval_class">INTERVAL CLASS</td>
    <td colspan="2" class="item" rel="sculpt">BODY SCULPT</td>
    <td colspan="2" class="item" rel="go_go">GO-GO</td>
    <td colspan="2" class="item" rel="yoga">YOGA</td>
    <td colspan="2" class="item" rel="strip_dance">STRIP PLASTIC</td>
    <td colspan="2" class="item"></td>
    <td colspan="2" class="item"></td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №1</td>
    <td>55 мин.</td>
    <td>зал №2</td>
    <td>55 мин.</td>
    <td>зал №2</td>
    <td></td>
    <td colspan="3" class="pl">Платные занятия</td>
  </tr>
  <!-- конец блока -->

  <!-- начало блока -->
  <tr>
    <td rowspan="3">11</td>
    <td>20:00</td>
    <td></td>
    <td class="pl">20:00</td>
    <td class="pl"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td colspan="3">зал №1 - зал аэробики</td>
  </tr>
  <tr>
    <td colspan="2" class="item" rel="pilates">PILATES</td>
    <td colspan="2" class="item pl" rel="">RAGGA!!!*</td>
    <td colspan="2" class="item"></td>
    <td colspan="2" class="item"></td>
    <td colspan="2" class="item"></td>
    <td colspan="1" class="item"></td>
    <td colspan="3">зал №1 - БИ</td>
  </tr>
  <tr>
    <td>55 мин.</td>
    <td>зал №2</td>
    <td class="pl">55 мин.</td>
    <td class="pl">зал №2</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td colspan="3">зал №1 - Cycle</td>
  </tr>
  <!-- конец блока -->

  <div id="schedule_description_dialog">
    
  </div>

  <div id="descriptions" style="display:none;">
    <% @exercises.each do |exercise| %>
      <div id="el_<%= exercise.uri %>">
        <h2><%= exercise.title %></h2>
        <p><%= exercise.description %></p>
      </div>
    <% end %>
  </div>

</table>