<div id="content">
  <%= render :partial=>'layouts/contacts' %>
  <div id="page">
    <%= render :partial=>'second_menu' %>
    <p>
      <%= @page.text %>
    </p>
  </div>
  <div class="clear"></div>
</div>