<div id="content">
  <% if @current_page.show_additional %>
    <%= render :partial=>'layouts/contacts' %>
  <% end %>
  <div id="page" <%= 'style="width:auto"' unless @current_page.show_additional %>>
    <%= render :partial=>'second_menu' %>
    <p>
      <%= @page.text %>
    </p>
  </div>
  <div class="clear"></div>
</div>