<h1><%= @album.title %></h1>
<div id="album" class="photos">
  <% @album.photos.each do |photo| %>
    <div class="photo_container">
      <h3><%= photo.title %></h3>
      <div class="photo">
        <% if photo.image.exists? %>
          <%= link_to( (image_tag photo.image.url(:medium)), photo.image.url(:big),:class=>'photo_link' ) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="clear"></div>