<script type="text/javascript">
  var current_page="vote";
</script>
<div id="content">
  <%= render :partial=>'layouts/contacts' %>
  <div id="page">
    <%= render :partial=>'second_menu' %>
    <p>
      Благодарим всех за участие в конкурсе "Стань лицом Фитнес Клуба "Maximus"!<br />
      Победителем конкурса стала  <strong>Евлампьева Ксения.</strong><br />
      Фото победителя появится на обложке журнала "Maximus".
    </p>
  </div>
  <div class="clear"></div>
</div>