<script type="text/javascript">
  var current_page="vote";
</script>
<div id="content">
  <% if @current_page.show_additional %>
    <%= render :partial=>'layouts/contacts' %>
  <% end %>
  <div id="page" <%= 'style="width:auto"' unless @current_page.show_additional %>>
    <%= render :partial=>'pages/second_menu' %>
    <%= @current_page.text %>
  </div>
  <div class="clear"></div>
</div>