<div id="banner">
  <img id="banner_image" src="images/banner1.jpg" alt="Максимум жизни" /><br />
  <div id="banner_text">
    <div class="description" style="margin-top:-40px;">
      Максимум жизни! Максимум энергии!<br />
      Если ВЫ мечтаете:<br />
      достичь совершенства тела и разума<br />
      быть энергичным, стройным и здоровым<br />
      всегда находиться в хорошем расположении духа<br />
      завести новых друзей<br />
      или просто весело и с пользой проводить время<br />
      Мы подарим Вам эту мечту!<br />
      Приходите в новый фитнес клуб «MAXIMUS».<br />
      <br />
      Подробности по телефону.<br />
    </div>
  </div>
  <div id="banner_clear"></div>
</div>