<div id="banner">
  <img id="banner_image" src="/images/action.jpg" alt="Акция от Максимус" /><br />
  <div id="banner_text">
    <h1 class="caption_small">Стань лицом Фитнес Клуба&laquo;Maximus&raquo;</h1>
    <div class="hr"></div>
    <div class="description">
      Участвуй в конкурсе «Стань лицом Фитнес Клуба <br />
      «Maximus» и выиграй эксклюзивную фото сессию!<br /><br />
      Кроме того, фото победителя появится на облож-<br />
      ке августовского номера журнала «Maximus»! <br />
    </div>
  </div>
  <div id="banner_clear"></div>
</div>