<div class="right">
  <div class="caption">Контакты:</div>
  <span class="address2">г. Казань <br />ул. Минская, 9 ТК "Азино"</span>
  <div class="contact">
    <span class="tel"><span>(843)</span>537-15-15</span>
    <br /><br />
  </div>
</div>