<div id="footer">

  <div class="right"></div>
  <% if @current_page.show_vacancy  %>
    <div class="left">
      <div class="text2">
        <h2 class="title">Вакансии</h2>
        <p>
          В Фитнес Клуб "Maximus" требуются инструктора тренажерного зала и
          инструктора групповых программ <b>537-15-15</b>.
        </p><br />
        <p>
          В Фитнес Клуб "Maximus" требуются администраторы и менеджеры по
          продажам <b>573-15-15</b>.
        </p>
      </div>
    </div>
  <% end %>
  <div style="padding-bottom: 10px;">
    <p><img src="/images/copy.jpg" style="padding-bottom: 5px;" alt="logo" /><br />
      &copy; 2010, «Maximus» Фитнес клуб Казани</p>
  </div>
</div>