<div id="header">
  <img src="/images/logo.jpg" id="logo" alt="logo" />
  <a href="/" class="menu_item">
    О максимусе
  </a>
  <a href="/tour" class="menu_item <%= 'active' if current_controller?('tour')%>">
    Экскурсия
  </a>
  <a href="/albums" class="menu_item <%= 'active' if current_controller?('albums')%>">
    Фотогалерея
  </a>
  <a href="/special.html" class="menu_item <%= 'active' if current_controller?('special')%>">
    Акция
  </a>
  <a href="/cards.html" class="menu_item">
    Клубные карты
  </a>
  <a href="/contacts.html" class="menu_item last">
    Контакты
  </a>
</div>
<script type="text/javascript">
  var current_page = false;
</script>